.carte{
	position: relative;
	border-radius: 12px;
	margin: 10px;
	background-color: white;
	box-shadow: 3px 6px 10px #AAAAAA;
	display: inline-block;
	text-align: center;
	overflow-wrap: break-word;
	overflow: hidden;
	vertical-align: top;
}

.contenitore{
	text-align: center;
}

.carte:hover{
	background-color: #EAEAEF;
	transition: 0.6s;
}

.name{
	color: #444;
	font-size: 2em;
}

.img-clown{
	margin-top: 20px;
}

.delete-user{
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 1.7rem;
	color: #666;
	cursor: pointer;
}