button {
    display: block;
    margin: 2px;
}

.img-profilo {
    width: 50%;
    margin-bottom: 2%;
}

#pwd {
    margin: 5% 15%;
    padding: 5%;
    background-color: #D6D2D1;
    border-radius: 8px;
}

.text_input{
    display: block;
    width: 100%;
    max-width: 300px;
    margin:auto;
}

.center{
    margin: auto;
}


#mail{
    display: inline-block;
    margin-top: 20px;
}

#change-mail{
    display: inline-block;
    margin-bottom: 20px;
}

#cancel-mail{
    margin-bottom: 20px;
}

#clown-name{
    margin: 50px 0;
}

#cambia_immagine{
    display: block;
}