.title{
	text-align: center;
}

.contenitore{
	padding-top: 2%;
	margin: 0%;
	width: 100%;
	float: none;
	text-align: center;
}

body{
	padding-top: 2%;
	height: 100%;
}

#choose-img{
	text-align: center;
}