.img{
	padding: 2px;
}

.contenitore{
	text-align: center;
}

.inline{
	margin-top: 2%;
	width: 100%;
	text-align: center;
	display: inline-block;
}

.divisor{
	cursor: pointer;
	margin-bottom: 3%;
	text-align: center;
}

.line{
	font-size: 2em;
	color: #322529;
	vertical-align: 15px;
}

.fa-chevron-down{
	font-size: 2em;
	vertical-align: -10px;
}